@model IEnumerable<Application.Models.ToDoItem>

@{
    ViewData["Title"] = "Задачи ToDo";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Задачи ToDo</li>
    </ol>
</nav>

<div class="d-inline-flex align-items-center">
    <h1><span>Задачи ToDo</span><span class="text-muted fw-normal mx-2">(@Model.Count())</span></h1>
    <a class="btn btn-primary px-4 mx-3" asp-action="Create">&plus; Добавить задачу</a>
</div>
<p class="text-muted">Добавляйте и изменяйте задачи ToDo</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-1"></th>
            <th class="col-4">Название</th>
            <th class="col-1">Приоритет</th>
            <th class="col-2">Срок выполнения</th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input asp-for="@item.IsCompleted" class="form-check-input" />
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
                <td>
                    @if (item.PriorityNavigation is not null)
                        @item.PriorityNavigation!.Level
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td class="d-inline-flex">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Подробнее</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
