@model IEnumerable<Application.Models.ToDoItem>
@{
    ViewData["Title"] = "Задачи ToDo";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Задачи ToDo</li>
    </ol>
</nav>

<div class="d-inline-flex align-items-center">
    <h1><span>Задачи ToDo</span><span class="text-muted fw-normal mx-2">(@Model.Count())</span></h1>
    <a class="btn btn-primary px-4 mx-3" asp-action="Create">&plus; Добавить задачу</a>
</div>
<p class="text-muted">Добавляйте и изменяйте задачи ToDo</p>

<form class="row mb-2">
    <div class="col-2">
        <select name="tasksSorter" class="form-select">
            <option disabled selected>Сортировка</option>
            <option value="">По умолчанию</option>
            <option value="@Application.Enums.TasksSorterEnum.Status">По статусу</option>
            <option value="@Application.Enums.TasksSorterEnum.Priority">По приоритету</option>
        </select>
    </div>
    <div class="col-2">
        <select name="taskStatusFilter" class="form-select">
            <option disabled selected>Статус задачи</option>
            <option value="">Без фильтра</option>
            <option value="@Application.Enums.TaskStatusFilterEnum.Ongoing">В процессе</option>
            <option value="@Application.Enums.TaskStatusFilterEnum.Completed">Выполнена</option>
        </select>
    </div>
    <div class="col-2">
        <select name="taskPriorityFilter" asp-items="@ViewBag.Priorities" class="form-select"></select>
    </div>
    <div class="col-2 btn-group">
        <input type="submit" value="Применить" class="btn btn-outline-primary" />
        <a asp-action="Index" class="btn btn-outline-secondary">Сбросить</a>
    </div>
</form>

<table class="table" style="table-layout: fixed;">
    <thead>
        <tr>
            <th class="col-1"></th>
            <th class="col-4">Название</th>
            <th class="col-2">Срок выполнения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    <div class="form-switch">
                        <input disabled asp-for="@task.IsCompleted" class="form-check-input" />
                    </div>
                </td>
                <th>
                    <div class="d-flex align-items-center">
                        <div class="text-truncate" title="@task.Title">@task.Title</div>
                        @if (task.PriorityNavigation is not null)
                        {
                            <span class="badge rounded-pill bg-secondary ms-1">@task.PriorityNavigation.Level уровень</span>
                        }
                    </div>
                </th>
                <td>
                    @if (task.DueDate.HasValue)
                    {
                        @task.DueDate.Value
                    }
                </td>
                <td class="text-end">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-outline-primary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@task.Id" class="btn btn-outline-primary">Подробнее</a>
                        <a asp-action="Delete" asp-route-id="@task.Id" class="btn btn-outline-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>