@model IEnumerable<Application.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home">Админ-панель</a></li>
        <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
    </ol>
</nav>

<div class="d-inline-flex align-items-center">
    <h1><span>Пользователи</span><span class="text-muted fw-normal mx-2">(@Model.Count())</span></h1>
    <a class="btn btn-primary px-4 mx-3" asp-action="Create">&plus; Добавить пользователя</a>
</div>
<p class="text-muted">Добавляйте новых пользователей, изменяйте их информацию или удаляйте</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-3">Имя пользователя</th>
            <th class="col-3">Email</th>
            <th class="col">Количество задач</th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @if (user.ToDoItems is not null)
                    {
                        <span>@user.ToDoItems.Count() задач</span>
                    }
                </td>
                <td class="d-inline-flex">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-outline-primary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-outline-primary">Подробнее</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>