@using Microsoft.AspNetCore.Identity
@model IEnumerable<Application.Models.ToDoItem>
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Главная страница";
}

@if (SignInManager.IsSignedIn(User))
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Главная</li>
        </ol>
    </nav>

    <div class="d-inline-flex align-items-center">
        <h1>Главная</h1>
        <a class="btn btn-primary px-3 mx-3" asp-controller="Tasks" asp-action="Index">Перейти к списку задач</a>
    </div>

    @if (Model.Count() != 0)
    {
        <p class="text-muted">Здравствуйте, вот ваши задачи на сегодня!</p>

        <table class="table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th class="col-1"></th>
                    <th class="col-3">Название</th>
                    <th class="col-4">Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>
                            <div class="form-switch">
                                <input disabled asp-for="@task.IsCompleted" class="form-check-input" />
                            </div>
                        </td>
                        <th>
                            <div class="d-flex align-items-center">
                                <div class="text-truncate" title="@task.Title">@task.Title</div>
                                @if (task.PriorityNavigation is not null)
                                {
                                    <span class="badge rounded-pill bg-secondary ms-1">@task.PriorityNavigation.Level уровень</span>
                                }
                            </div>
                        </th>
                        <td>
                            <div class="text-truncate" title="@task.Description">@task.Description</div>
                        </td>
                        <td class="text-end">
                            <div class="btn-group">
                                <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-outline-primary">Редактировать</a>
                                <a asp-controller="Tasks" asp-action="Details" asp-route-id="@task.Id" class="btn btn-outline-primary">Подробнее</a>
                                <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted">Здравствуйте, задач на сегодня нет!</p>
    }
}
else
{
    <div class="text-center mt-5">
        <h1 class="display-3">ToDo Application</h1>
        <p class="text-muted">Пожалуйста войдите в систему, чтобы продолжить</p>
    </div>
}