@model IEnumerable<Application.Models.Priority>

@{
    ViewData["Title"] = "Приоритеты задач";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home">Админ-панель</a></li>
        <li class="breadcrumb-item active" aria-current="page">Приоритеты задач</li>
    </ol>
</nav>


<div class="d-inline-flex align-items-center">
    <h1 class="d-flex">Приоритеты задач <span class="text-muted fw-normal mx-2">(@Model.Count())</span></h1>
    <a class="btn btn-primary px-4 mx-3" asp-action="Create">&plus; Добавить приоритет</a>
</div>
<p class="text-muted">Добавляйте и изменяйте приоритеты для задач ToDo</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-1">@Html.DisplayNameFor(model => model.Level)</th>
            <th class="col-10">@Html.DisplayNameFor(model => model.ToDoItems)</th>
            <th class="col-3 col-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Level) @Html.DisplayFor(modelItem => item.Level)</td>
                <td>@item.ToDoItems</td>
                <td class="d-inline-flex">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
